 <!DOCTYPE html>
<html>
<head>
  <title>About</title>
   <link rel="icon" href="/img/weather.png"

</head>
<body>
<div class="main-content">
 {{>header}}
 <p> This site was created by Rildi.It uses dt frmo darks.netmdkkd;sk;k </p>
        <img class="portrait" src="/img/lion.jpg.jpg">

</div>
 
{{>footer}}
</body>
</html>